.btn { 
    padding: 0.478em 1em; 
    border-radius: 4px; 
    text-transform: uppercase;
    border: 1px solid transparent;

    &-primary { 
        background: $primary;
        color: $white;

        &:hover, &:active, &:focus { border-color: $primary; color: $primary; background: $white; }
        &:focus { box-shadow:rgb(234 10 34) }
    }
    // &:disabled {}
}