<div class="d-flex h-100">
  <vision-sidebar></vision-sidebar>

  <div class="d-flex flex-column w-100 justify-content-between">
<!-- Header -->
<vision-header></vision-header>

<div class="content" role="main">

  <div class="d-flex flex-column w-100 gap-3 ms-5">

    <vision-button 
      [color]="'primary'" 
      [label]="'Primary Button'"  
      [ariaLabel]="'Click here to click Primary'" 
      [leftIcon]="" 
      [rightIcon]="" 
      (onClick)="clickedButton()">
    </vision-button>
    <vision-button 
      [color]="'secondary'" 
      [label]="'Secondary Button'" 
      [ariaLabel]="'Click here to click Secondary'" 
      [leftIcon]="" 
      [rightIcon]="" 
      (onClick)="clickedButton()">
    </vision-button>
    <vision-button 
      [color]="'text'" 
      [label]="'Text Button'" 
      [ariaLabel]="'Click here to click text button'" 
      [leftIcon]="" 
      [rightIcon]="" 
      (onClick)="clickedButton()">
    </vision-button>
    <vision-button 
      [color]="'primary'" 
      [label]="'Disabled Button'" 
      [ariaLabel]="'Click here to continue'" 
      [leftIcon]="'fa fa-bell'" 
      [rightIcon]="'fa fa-cancel'" 
      [disabled]="true" 
      (onClick)="clickedButton()">
    </vision-button>
    
    </div>
<vision-card></vision-card>  
</div>
<!-- Footer -->
<vision-footer></vision-footer>

  </div>
</div>