$white: #fff;
$black: #000;
$gray-900: #212529;
$primary: #003382;

:root {
    /** FONTS **/


    /** COLORS **/
    --white: #{$white};
    --black: #{$black}
    --gray-900: #{$gray-900};
    --primary: #{$primary};
}
