$white: #fff;
$black: #000;
$gray-900: var(--gray-900);
$primary: #003382;

:root {
    /** FONTS **/


    /** COLORS **/
    --white: #{$white};
    --black: #{$black}
    --primary: #{$primary};
}
